@font-face {
  font-family: "Hardpixel";
  src: url("https://db.onlinewebfonts.com/t/46ed1daa8d58529ffb76987f884f2b03.eot"); /* IE9*/
  src: url("https://db.onlinewebfonts.com/t/46ed1daa8d58529ffb76987f884f2b03.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://db.onlinewebfonts.com/t/46ed1daa8d58529ffb76987f884f2b03.woff2")
      format("woff2"),
    /* chrome firefox */
      url("https://db.onlinewebfonts.com/t/46ed1daa8d58529ffb76987f884f2b03.woff")
      format("woff"),
    /* chrome firefox */
      url("https://db.onlinewebfonts.com/t/46ed1daa8d58529ffb76987f884f2b03.ttf")
      format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("https://db.onlinewebfonts.com/t/46ed1daa8d58529ffb76987f884f2b03.svg#Hardpixel")
      format("svg"); /* iOS 4.1- */
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: "Hardpixel";
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
.App{
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
}
.btn{
  font-family: "Hardpixel";
  font-size: 2rem !important;
  color: white;
  background-color: Transparent;
  margin: 0.5rem 1rem 1rem 0.5rem;
  background-repeat:no-repeat;
  border: none  !important;
  cursor: pointer;
}
.invisible{
  visibility: hidden;
}
.container {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App {
  text-align: center;
}

/* .container{
  position: absolute;  
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
} */
h2{
  color: aliceblue;
  max-width: fit-content;
}
.typewriter  {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.6em solid white;
  white-space: nowrap; /*Keeps the content on a single line */
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation: 
    typing 2s steps(30, end),
    blink-caret .75s step-end infinite;
} 

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}